language: python

matrix:
    include:
        - python: 2.7
          dist: trusty
          sudo: false
          env: TOX_ENV=py27-django1.11
        - python: 3.5
          dist: trusty
          sudo: false
          env:
              - TOX_ENV=py35-django1.11
        - python: 3.5
          dist: trusty
          sudo: false
          env:
              - TOX_ENV=py35-django2.0
        - python: 3.6
          dist: trusty
          sudo: false
          env:
              - TOX_ENV=py36-django1.11
        - python: 3.6
          dist: trusty
          sudo: false
          env:
              - TOX_ENV=py36-django2.0
        - python: 3.7
          dist: xenial
          sudo: true
          env:
              - TOX_ENV=py37-django1.11
        - python: 3.7
          dist: xenial
          sudo: true
          env:
              - TOX_ENV=py37-django2.0

env:
    global:
        - MOZ_HEADLESS=1

addons:
  firefox: latest

before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.20.1/geckodriver-v0.20.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.20.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver

install:
    - pip install tox
    - pip install virtualenv

script:
    - tox -e $TOX_ENV
